body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/tea_0.jpg');
}

h1,
h2 {
    color: #003E3E;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.dropbtn {
    color: #003E3E;
    padding: 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.dropbtn:hover {
    background-color: rgba(134, 219, 194, 0.853);
}